@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Outfit';
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:hsl(215, 51%, 70%);
    font-size: 15px;
}

.container{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 15px;   
    border-radius: 15px;
}

.content{
    padding: 0 13px 10px 13px;
}

.extra_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image{
    position: relative;
}

.viewIcon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.5vh;
    width: 42.5vh;
    opacity: 0%;
}

#view_icon{
    width: 40px;
}

.viewIcon:hover{
    opacity: 100%;
    background-color: hsla(178, 100%, 50%,40%);
    border-radius: 10px;
    transition-duration: 0.18s;
    transition-timing-function: ease-in;
    
}

img{
    width: 250px;
    border-radius: 7px;
}


h1{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    width: fit-content;
    
} 

h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

span{
    color: hsl(0, 0%, 100%);
}

span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.price{
    color: hsl(178, 100%, 50%);
    display: flex;
}

.price img{
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.time img{
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.time{
    display: flex;
}

hr{
    border-color: hsl(215, 32%, 27%);
}

.credit{
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.credit img{
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    border-radius: 50%;
    margin-right: 10px;
}
